@model IQueryable<NMUG.Models.Meeting>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 jumbotron">
        <div class="page-header">
            <h1>New Mexico .NET Users Group</h1>
        </div>
        <div class="text-muted">
            <p>
                The New Mexico .NET Users Group (NMUG) exists to help facilitate education and knowledge exchange among developers,
                 architects and managers with an interest in Microsoft's .NET technologies. NMUG meets on the first Friday of each month and are open to the public.
                 Food and drink are provided.
            </p>
        </div>
        <div>
             NEXT MEETING : @*Display current meeting data*@
            @if (Model.Count() == 0)
            {
                <div> We are currently working on the presentation for the next meeting. Please check back at a later date.</div>
            }
            else
            {
             @Model.FirstOrDefault().MeetingDate.ToString()

            }
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div>
            <h4>About</h4>
            <div class="text-muted">
                <p>
                    We provide a great place for local developers to come together to learn all about .NET technologies,
                    to network with their peers and to foster a sense of community among developers learning and using the same technologies.
                </p>
                <p>
                    The .NET Users Group is open to any all individuals who are interested in all facets of .NET development and the technologies that are assiociated with it.
                    If you are interested in becoming a business sponsor of our group or becoming an individual member please see our Membership page for more information.
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <h4>Become a Member</h4>
        <div class="text-muted">
            The .NET Users Group is open to any all individuals who are interested in all facets of .NET development and the technologies that are assiociated with it.
             If you are interested in becoming a business sponsor of our group or becoming an individual member please see our Membership page for more information.
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>
<div class="page-header"></div>

<!-- REMOVED MAP - NO LONGER THE MEETING LOCATION - Marianne 6/24/17
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 well">
<a href="https://www.google.com/maps/place/7471+Pan+American+Fwy+NE,+Albuquerque,+NM+87109/data=!4m2!3m1!1s0x8722744c460d4265:0x4a3d4c80f866d974?sa=X&ved=0ahUKEwjgo8bL-KbTAhUO6mMKHbL5AJwQ8gEIJzAB"><img src="~/images/AerialMap2.jpg" /></a>
    </div>
    <div class="col-sm-2"></div>
</div>
	-->


<!--  TODO - Replace this when the NMUG Agenda is available - Marianne 6/24/17
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div class="page-header">
            <h4>The agenda for our meetings is as follows:</h4>
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>	
	-->

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
    @if (Model.Count() != 0)
    {
        @*<b> @Model.FirstOrDefault().dateTime.ToString() </b>*@
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <h4>Date</h4>
                    </th>
					<th>
						<h4>Time</h4>
					</th>
                    <th>
                        <h4>Location</h4>
                    </th>
                    <th>
                        <h4>Description</h4>
                    </th>
                    <th>
                        <h4>Presenter</h4>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.MeetingDate)
                        </td>
						<td>
							@Html.DisplayFor(modelItem => item.FromTo)
						</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MeetingLocation)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MeetingDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MeetingPresenter)
                        </td>
                        <td><a asp-controller="Meetings" asp-action="Details" asp-route-id="@item.Id">Details</a></td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div><b> We are currently working on the presentation for the next meeting. Please check back at a later date.</b></div>

    }
    </div>
    <div class="col-sm-2"></div>
</div>
