@model NMUG.Models.MeetupAPIResponse

@{
    ViewData["Title"] = "Meetup Events";
}

<h2>Upcoming Events</h2>
<h3>NOTE: Until appsettings.json is updated to show <b>NMUGMeetup</b> as the <b>MeetupGroup</b>, this list displays events from the group Meetup-API-Testing</h3>
<p>
    <a asp-action="Create">Create New Meetup Event</a>
    @*<center><a href="https://www.meetup.com/NMUGMeetup/join" target="_blank"><img src="http://ateausa.org/wp-content/uploads/2016/04/meetup.png" /></a></center>*@
    <center><a href="https://www.meetup.com/Meetup_API_Testing/join" target="_blank"><img src="http://ateausa.org/wp-content/uploads/2016/04/meetup.png" /></a></center>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                When?
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.results[0].time)*@
                @*@Html.DisplayNameFor(model => model.results[0].name)*@
                Where?
            </th>
            <th>
                RSVP'd YES
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.results)
        {
            <tr>
                <td>
                    @DateTimeOffset.FromUnixTimeMilliseconds(item.time).ToOffset(TimeSpan.FromMilliseconds(item.utc_offset)).DateTime.ToString()
                </td>
                <td>
                    <b>@Html.DisplayFor(modelItem => item.venue.name)</b><br />
                    <i>@Html.DisplayFor(modelItem => item.venue.address_1), @Html.DisplayFor(modelItem => item.venue.city)</i><br />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.yes_rsvp_count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.group.id)
                </td>
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |*@
                    <a href="@Html.DisplayFor(modelItem => item.event_url)" target="_blank">Details</a> |
                    <a href="@Html.DisplayFor(modelItem => item.event_url)" target="_blank">RSVP</a>
                    @*<a asp-action="Delete" asp-route-id="@item.ID">Delete</a>*@
                </td>
            </tr>}
    </tbody>
</table>
