@model NMUG.Models.Meeting

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Meeting</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MeetingDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MeetingDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MeetingDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MeetingDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MeetingLocation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MeetingLocation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MeetingPresenter)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MeetingPresenter)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MeetingTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MeetingTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
